mixin accountForm(user = {})
    form#accountForm(action="/account" method="post" name="accountForm")
      h2 Edit Your Account
      .form-group
        label(for="name") Name
        input.form-control#name(type="text" name="name" value=user.name required)
      .form-group
        label(for="email") Email Address
        input.form-control#email(type="email" name="email" value=user.email required)
      .form-group
        label(for="phoneRegister") Mobile Phone
        input.form-control#phoneRegister(type="phone" name="phone" value=user.phone required)
      .row
        .col
          h4 Food Preferences
          .form-group
            .form-check
              input.form-check-input(type="checkbox" value="true" name="isFoodInsecure" id="isFoodInsecure" checked=(user.isFoodInsecure === true))
              label.form-check-label(for="isFoodInsecure"): |I identify as #[a(href="#" target="_blank" rel="noopener") #[abbr(title="lacking reliable access to a sufficient quantity of affordable, nutritious food") food-insecure]]
      .row
        .col-md
          .form-group
            - const foodExclusions = user.foodExclusions || []
            label(for="foodExclusions") #[strong Exlcusions]
            ul.list-inline
              //- h.exclusionChoices comes from helpers
              each exclusion, i in h.exclusionChoices
                li.list-inline-item
                  .form-check-inline
                    input.form-check-input(type="checkbox" id=exclusion value=exclusion name="foodExclusions" checked=(foodExclusions.includes(exclusion)))
                    label.form-check-label(for=exclusion)= exclusion
      input.btn.btn-primary.btn-block(type="submit" value="Update my Account ➡")
